* {
    font-family: "Courier New", monospace;
}

body {
    background-color: black;
    color: rgb(248, 220, 243);
    margin: 0px;
    min-height: 100vh;
    /* this is needed to push footer to bottom
       with justify-content: space-between */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body > * {
    padding-left: 12%;
    padding-right: 12%;
}

h1 {
    margin: 0px;
    padding-left: 2%;
    padding-right: 2%;
 /* padding-left: 5%;
    padding-right: 5%; */
    font-size: 60px;
    /* make font smaller? */
    color: rgb(253, 253, 253);
    font-weight: bold;
    text-shadow: 3px 3px rgb(255, 0, 212);
    /* make white? */
    text-wrap: nowrap;
}

h2 {
    margin: 0px;
    font-size: 50px;
    color: white;
    text-shadow: 3px 2px rgb(255, 0, 212); 
    text-wrap: nowrap;
}

h3 {
    margin: 0px;
    font-size: 40px;
    color: white;
    text-shadow: 3px 2px rgb(255, 0, 212); 
    text-wrap: nowrap;
}

/* make h3 for pages (40px) */

p {
    font-size: 30px;
    color: white;
    font-weight: 600;
    line-height: 1.3;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    /* add hover command for links */

    display: flex;
}

ol {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

img {
    /* dont add width+height to this directly
       since this is very parent/child specific */
    border: 3px solid;
    border-radius: 4px;
    border-color: rgb(255, 214, 246) rgb(255, 121, 233) rgb(255, 121, 233) rgb(255, 214, 246);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: inherit;
}

span {
    color: rgb(238, 255, 0);
    font-size: 20px;
}

.Emoji {
    font-size: 30px;
    font-weight: bolder;
    /* Used for caution signs on cupcake disclaimer */
}



/* -----------------------Header---------------------------- */

.header {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    /* justify-content: space-between; */
    /* justify-content: center; */
    background: #2b282b;
    height: 80px;
    box-shadow: 0 0 3px 2px rgb(75, 73, 73);    
    /* make height larger */
    /* add subtle border design */

}

.header > * {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* .header:first-child {
    padding-right: auto;
}

.header:last-child {
    padding-left: auto;
} */

.left-links,
.right-links {
    display: flex;
    justify-content: space-around;
}

.left-links {
    padding-right: auto;
}

.right-links {
    padding-left: auto;
}

.header h1 {
    padding: 4px 32px;
}

ul {
    /* display: flex; */
    margin: 0px;
    padding: 0px;
    gap: 8px;
    /* flex: auto;
    justify-content: center;
    align-items: stretch; */
    /* flex-wrap: wrap; */
}

li {
    /* display: flex; */
    margin: 0px;
    padding: 0px;
    /* flex: auto;
    justify-content: center;
    align-items: stretch;  */
}




/* ---------------------Landing Content------------------------- */


.main-content {
    padding-top: 2em;
    padding-bottom: 2em;

    display: flex;
    flex-direction: column;
}

.info-container {
    /* padding-top: 2em;
    padding-bottom: 2em; */

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 20px 52px; */
    /* gap: 5% 5%; */
    gap: 2em 3em;
    /* either gap works */
}

.info {
    /* width: 40%; */
    /* try to get this to 100% */
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.info > * > img {
    height: 18em;
    width: auto;
}


/* ----------------------Pages------------------------ */

.page-title {
    margin-left: auto;
    margin-right: auto;
    
}

.intro-content {
    /* info container */
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 20px 52px; */
    /* gap: 5% 5%; */
    gap: 2em 3em;
    /* either gap works */
}

.product,
.description {
    /* info */

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}











/* ----------------------Footer------------------------ */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2b282b;
    height: 80px;
    box-shadow: 0 0 3px 2px rgb(75, 73, 73);

}

.footer-text {
    font-size: 12px;
    color: rgb(248, 220, 243);
    font-weight: 200;
    line-height: 1;
}